@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ri3r5u');
  src:  url('fonts/icomoon.eot?ri3r5u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ri3r5u') format('truetype'),
    url('fonts/icomoon.woff?ri3r5u') format('woff'),
    url('fonts/icomoon.svg?ri3r5u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bracadeira:before {
  content: "\e900";
}
.icon-cadeira-de-dentista:before {
  content: "\e901";
}
.icon-conselho:before {
  content: "\e902";
}
.icon-dente:before {
  content: "\e903";
}
.icon-ferramentas-de-dentista:before {
  content: "\e904";
}
.icon-implantar:before {
  content: "\e905";
}
.icon-limpar:before {
  content: "\e906";
}
.icon-pacote-de-dentista:before {
  content: "\e907";
}
